h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 25px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px;
}

.center{
    text-align: center;
}

.apples-chart{
    width: 300px;
    background-color: #95c2c9;
    padding: 20px;
    margin: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.bananas-chart{
    width: 150px;
    background-color:#ae95c9;
    padding: 20px;
    margin: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.oranges-chart{
    width: 160px;
    background-color: #d49c0f;
    padding: 20px;
    margin: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.blueberries-chart{
    width: 70px;
    background-color: #d6cf02;
    padding: 20px;
    margin: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.apples-chart:hover, .bananas-chart:hover, .oranges-chart:hover, .blueberries-chart:hover{
    background-color: white;
    border: 4px;
    border-color: black;
    border-style: solid;
}